/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
background-color: blueviolet
;
    }
main{
    border: 1px solid black;
    display: grid;
    gap: 1 rem;
    grid-template-areas: 8, 1fr;
}

/*version-dos*/
.header_contenedor{
    background-color: rgb(105, 219, 105);
   grid-column: span 2;
    border: 1px solid black;
    grid-template-areas: "header_contenedor";
    width:100% ;
    padding: 18px;  
    margin-top: auto;
}
nav{
    background-color: rgb(194, 223, 194);
    grid-template-areas: "nav";
    padding: 1rem;
    width: 100%;
    text-align: center;
    align-items: flex-end;
}
main{
    padding: 1rem;
    margin-top: 1rem;
    background-color:rgb(194, 223, 194);
    grid-template-areas: "main";
}
footer{
    text-align: center;
    background-color: green;
    grid-template-areas: "footer"
    
}

.main_formulario{
    background-color: rgb(222, 240, 222);
    box-shadow: 7px 0px 50px black;

}
.fieldset_legend{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.legend_label{
    width: 100%;
    background-color:rgb(231, 245, 222);
    padding: 2px;
    border-radius: 6px;
    margin-bottom: 8px;
    border:1px solid rgb(1, 21, 6);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}
.boton{
    background-color:rgb(194, 223, 194);
    padding: 8px;
    width: 18%;
    margin:16px 0;  
}

.boton:hover{
    font-size: 22px;
    background-color:rgb(9, 192, 192); }

.descripcion_img{
   
    background-color: rgb(216, 246, 216);
    display: flex;
    align-items: center;
    justify-content: center;


}
.section_img_uno , .section_img_dos, .section_img_tres, .section_img_cuatro{
    width: 250px;
    height: 200px;

}

.logo{
    width: 100px;
    height: 80px;
}
.section_img_dos, .section_img_tres{
    display: none;
}
.section_h1, .section_h2, .section_consultoria{
    width: 100%;
    text-align:center;
padding: 15px;
}
.section_h1{
  background-color: rgb(216, 246, 216);
    margin: 1px;
    padding: 20px;
    
}
.section_h2{
    background-color: rgb(224, 251, 202);
}
.section_consultoria{
    background-color: rgb(180, 245, 235);
    margin: 12px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    text-align: left;
    align-content: center;  }

nav ul li a{
    display: block;
    padding: 5px 10px;
    color: black;
    text-decoration: none;  }

nav ul li:hover{
    background-color: rgb(9, 192, 192);  }

.navegacion_home ,.navegacion_arma,.navegacion_servicios, .navegacion_experiencias, .navegacion_humanas, .navegacion_empresariales, .navegacion_asesoramiento, .navegacion_equipos
    {
     align-content: space-around;
        font-size: 12px;
        background-color: rgb(194, 223, 194);
         }
        
  /*estilos para desktop*/
  @media screen and (min-width:600px) { 
    body{
        background-image: ;
       background-color: rgb(93, 63, 193);
    }
    .section_img_uno, .section_img_cuatro{
       display: none; }
  
        .section_img_dos{
            display: block;
            width: 350px;
            height:250px ;
    }
    footer{
        text-align: center;
        background-color: rgb(93, 63, 193) ;     
    }
    
     /*estilos para desktop*/
@media screen and (min-width: 1024px) { 
    body{
       background-color: rgb(93, 63, 193);
    }
    .logo{
        width: 280px;
        height: 200px;
    }
    .section_img_uno, .section_img_cuatro{
        display: block;
        width: 100%

    }
    .section_img_uno{
        
        display: flex;
        width: 30%;
        height: 200px;
        margin: 10px;
       
      
    }
    .section_img_cuatro{
        
        display: flex;
        width: 500px;
        height: 250px;
    }
    .navegacion_home ,.navegacion_arma,.navegacion_servicios, .navegacion_experiencias, .navegacion_humanas, .navegacion_empresariales, .navegacion_asesoramiento, .navegacion_equipos
    {
        
        font-size: 14px;
        background-color: rgb(191, 181, 205);
        padding: 5px;
        align-content: space-between;
       margin: 5px;
         }
         
        }
    
